.header
  display: flex
  align-items: center
  justify-content: center
  height: var(--header-height)
  width: 100%
  color: var(--text-color)

  &__title
    display: flex
    align-items: center
    position relative
    color: var(--text-color)
    margin: var(--big-indent)

  &__bomb-container
  &__time-container
    display: flex
    align-items: center

  &__counting
    margin-left: var(--default-indent)
    margin-top var(--mini-indent)
    min-width: 20px
    text-align: center
    