.page
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  background-color: var(--main-bg-color)

  &__content
    margin: auto

.game
  .visible-in-game
    display: none

  &--is-started
    .visible-in-game
      display: flex