.page
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  background-color: var(--main-bg-color)

  .visible-in-game
    display: none

  &--is-started-game
    .visible-in-game
      display: flex